<h1>Tags</h1>
<p>
  <% @tag.each do |t| %>
  <%= link_to t.name, tag_path(t) %>
      <%= " | " %>
      <%= link_to "Delete tag", tag_path(@tag), method: :delete, data: {confirm: "Really delete the tag?"} %><br/>
  <% end %>
</p>

<%= link_to "<< Back to Articles List", articles_path %>